<div class="container" style="margin-top: 1%">
  <h3>Velkommen {{ getUserName()}}</h3>
  <hr>
  <p class="welcome"> Du er nu logget ind som administrator på hjemmesiden. <br>Du kan nu vælge følgende muligheder
    nedenfor:</p>
</div>


<hr/>

<app-available-shows></app-available-shows>

<hr/>

<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h3>
          Sale
        </h3>
        <div class="card">
          <div class="card-body">
            <p>Opret sal</p>
            <button routerLink="/AddHall" type="button" class="btn btn-secondary">Opret ny sal</button>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h3>
          Teatre
        </h3>
        <div class="card">
          <div class="card-body">
            <p>Opret teater</p>
            <button routerLink="/AddTheater" type="button" class="btn btn-secondary">Opret nyt teater</button>
            <hr>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>Opdater teater</p>
            <button routerLink="/UpdateTheater" type="button" class="btn btn-secondary">Opdater et teater</button>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h3>
          Brugere
        </h3>
        <div class="card">
          <div class="card-body">
            <p>Slet en bruger</p>
            <button routerLink="/DeleteCustomer" type="button" class="btn btn-secondary">Slet bruger</button>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








