#admin_access {
  color: white;
}

#nav_info {
  text-align: right;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: white;
}

#button {
  position: relative;
  float: right;
  margin-bottom: 1%;
}
