<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    </div>
  </div>
  <div class="row">



    <div class="col-md-4">
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h6 class="card-title text-center">Administrator adgang</h6>
              <form class="form-signin">
                <div class="form-label-group">
                  <label for="inputBrugernavn">Email address</label>
                  <input type="text" id="inputBrugernavn" class="form-control" placeholder="Brugernavn" required autofocus>
                </div>
                <div class="form-label-group">
                  <p></p>
                  <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                <p></p>
                  <label class="custom-control-label" for="customCheck1">Husk password</label>
                </div>
                <button routerLink="/welcome-page" class="btn  btn-dark btn-block text-uppercase" type="submit">Log in</button>
                <hr class="my-4">
                <p id="important">
                  Login er kun for ansatte ved TeaterBilletter.
                  <br>
                  Videregivelse af oplysninger til andre er forbudt.</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
