
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group-toggle drop">
      <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
        Vælg forestilling
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Forestilling XX</a>
        <a class="dropdown-item" href="#">Forestilling YY</a>
        <a class="dropdown-item" href="#">Forestilling YX</a>
      </div>
    </div>
  </div>



      <div class="row">
        <div class="col-xs-12 col-12 col-md-9 form-group">
          <input type="text" placeholder="Vælg dato" class="form-control rounded_corner" bsDatepicker>
        </div>
    </div>


<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-outline-dark" type="submit">Næste ></button>
  </div>
</div>
