<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Vælg forestilling <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Forestilling XX</a></li>
        <li><a href="#">Forestilling YY</a></li>
        <li><a href="#">Forestilling YX</a></li>
      </ul>
      &nbsp;
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Vælg dato <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <div class="form-group">
          <label for="teaterDato">Dato for forstilling </label>
          <input id="teaterDato" name="teaterDato"
          type="text" class="form-control">
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" type="submit">Næste ></button>
  </div>
</div>
