

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h6 class="card-title text-center">Administrator adgang</h6>
              <hr class="my-4">

                  <div class="row">
                    </div>
                    <form >
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id ="email" name="email" ngModel class="form-control" #name>
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id ="password" name="password" ngModel class="form-control" #password>
                      </div>
                      <button routerLink="/first-page" class="btn btn-dark" type="submit" style="float: right" (click)="onLoginPressed(name.value, password.value)" >Log ind</button>
                    </form>
                </div>
            <hr class="my-4">
            <p id="info_boks">
              Login er kun for ansatte ved TeaterBilletter.
              <br>
              Videregivelse af oplysninger til andre er forbudt.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>










