<div class="col-xs-12">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1>
          Tilføj ny sal
        </h1>
        <form [formGroup]="deleteCustomerForm" (ngSubmit)="onSubmit()">
          <div formGroupName="customer">
            <div class="form-group">
              <label for="customerID">Bruger ID</label>
              <input
                id="customerID"
                formControlName="customerID"
                type="text"
                class="form-control">
            </div>

          </div>
          <span
            *ngIf="!deleteCustomerForm.valid && deleteCustomerForm.touched"
            class="help-block">Please enter valid data!
          </span>
          <div>
            <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
          </div>
        </form>

        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Salen er oprettet</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                Brugeren er slettet.
              </div>

              <div class="modal-footer">
                <button  routerLink="/first-page" type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
