<h3>Velkommen</h3>
<p id="welcome_text"> Du er nu logget ind som administrator på hjemmesiden.
<br>Du kan nu vælge følgende muligheder nedenfor:</p>



<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="info_info"><b>Vælg forestilling</b></p>
          <p class="info_text"> Brug menuen til at vælge forestilling nedenfor.</p>
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vælg forstilling
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Phantom of the opera</a>
                <a class="dropdown-item" href="#">Jeppe på Bjerget</a>
                <a class="dropdown-item" href="#">Nødeknækkeren</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="info_info"> <b>Vælg dato</b></p>
          <p class="info_text"> Brug kalenderen til at vælge forestilling.</p>
          <div class="row">
            <div class="col-xs-12 col-12 col-md-9 form-group">
              <input type="text" placeholder="Vælg dato" class="form-control rounded_corner" bsDatepicker>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary">Næste</button>

    </div>



    </div>


  </div>





