/*h3{
  margin-top: 1%;
  margin-left: 3%;
}

.welcome {
  color: #000000;
  margin-left: 3%;
}
*/
/*#info_info {
   text-align: left;
   font-size: 14px;
   color: #000000;
 }

#role_info {
  text-align: left;
  font-size: 14px;
  color: #000000;
}*/

.lol {
  background-color: red;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
