<div class="container">
  <h3>Velkommen</h3>
  <hr>
  <p class="welcome"> Du er nu logget ind som administrator på hjemmesiden. <br>Du kan nu vælge følgende muligheder nedenfor:</p>

  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <div class="card-text">Skriv noget lort her</div>
          <div class="row">
            <div class="col-xs-4">
              <button type="button" class="btn btn-secondary">Secondary</button>
            </div>

            <div class="col-xs-4">
              <button type="button" class="btn btn-secondary">Secondary</button>
            </div>

            <div class="col-xs-4">
              <button type="button" class="btn btn-secondary">Secondary</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
